#dialog {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 4px #888;
}



#bBox {
  display: none;
  width: 150px;
  height: 150px;
  padding: 30px 20px;
  background-color: blue;
  border: 1px solid #ffff;
}

