.container {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-auto-rows: 140px 120px 90px;
  

}

header  {
  font-size: 18px;
  width: auto;
  color: white;
  background-color: black;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about {
  font-size: 50px;
  text-align: center;
  align-self: end;
  
}

.works {
  font-size: 50px;
  text-align: center;
  text-align: center;
  align-self: end;
  
}

.about-li {
  grid-row: 2;

  
}

.list {
  padding-left: 200px;
}

.works-a {
  grid-row: 2 ;
}