#up-btn {
    display: none;
    
    padding: 40px 40px 40px 40px;
    background-color: blue;
    color: #ffff;
    text-decoration: none;
    border-radius: 50px;

    position: fixed;
    bottom: 10px;
    right: 10px;

}

.screen1 {
    height: 100vh;
    background-color: aqua;
}

.screen2 {
    height: 100vh;
    background-color: blueviolet;
}

.screen3 {
    height: 100vh;
    background-color: yellow;
}