#up-btn {
<<<<<<< HEAD
    display: none;
    
    padding: 40px 40px 40px 40px;
    background-color: blue;
    color: #ffff;
    text-decoration: none;
    border-radius: 50px;

    position: fixed;
    bottom: 10px;
    right: 10px;

}

.screen1 {
    height: 100vh;
    background-color: aqua;
}

.screen2 {
    height: 100vh;
    background-color: blueviolet;
}

.screen3 {
    height: 100vh;
    background-color: yellow;
=======
    width: 100px;
    height: 100px;
    text-align: center;
 
    background-color: blue;
    color: #ffff;
    border-radius: 100px;

>>>>>>> 285c46f593ac52d577132bfa99a6d1d45a7f2c2a
}